* {
	margin: 0;
	padding: 0;
}

@font-face{
	font-family: 'Exo 2';
	src: url('../fonts/Exo2-Regular.ttf');
}	

body {
	font-family: 'Exo 2';
}

header {
	background: url(../img/bg-first.jpg) no-repeat center top;
	background-size: 100%;
	width: 100%;
	height: 100vh;
}

.header-container {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
}

.header-container a {
	color: #502d01;
	font-size: 16px;
	text-transform: uppercase;
	padding: 50px 7px 10px 7px;
}

.header-container a:hover {
	background: #ff9700;
	color: #fff;
}

#menu-checkbox {
	display: none;
}

ul {
	display: flex;
}

.logo {
	margin-left: -55px;
}

li {
	list-style: none;
	display: flex;
}

a {
	text-decoration: none;
}

@media screen and (max-width: 420px) {
	
	.header-container {
		width: 100%;
		display: flex;
		justify-content: space-around;
	}

	.main-menu {
		display: none;
	}

	.main-menu li {
		width: 100%;
		display: block;
		font-size: 12px;
	}

	.main-menu a {
		display: block;
		padding: 8px;
	}

	.toggle-button {
		text-align: center;
		display: block;
		cursor: pointer;
	}
}

/* Footer
-----------------------------------------------------------------------------*/
/*.footer {
	height: 100px;
	background: #BFF08E;
}*/