@media screen and (max-width: 1199px) {

    .nav__menu {
        display: none;
    }

    .main-slider {
        width: 95%;
    }

    .slide-avatar {
        left: -68px;
        top: 18%;
    }
}


@media screen and (max-width: 992px) {

    .header__title h1 {
        font-size: 4rem;
    }

    .offer__title {
        font-size: 2.75rem;
    }

    .advantages .section__title {
        margin-bottom: 35px;
    }

    .advantages-item {
        margin-top: 20px;
    }

    .query__arrow_bottom i {
        top: 90%;
    }

    .main-slider {
        width: 95%;
    }

    .slide-location {
        float: left;
        margin-top: 6px;
    }

    .privacy a {
        float: right;
    }

    .footer__contacts {
        display: none;
    }

}

@media screen and (max-width: 768px) {

    .header__contacts {
       display: none;
   }

    .header__title h1 {
        font-size: 2.938rem;
        letter-spacing: 0.1rem;
    }

    .offer__title {
        font-size: 2.063rem;
        letter-spacing: 0.1rem;
    }

    .query__arrow_bottom i {
        top: 93%;
    }

    .estate__dream-icons img:nth-child(1) {
        left: 23.5%;
    }

    .estate__dream-icons img:nth-child(2) {
        left: 29.5%;
    }

    .estate__dream-icons img:nth-child(3) {
        left: 45.5%;
    }

    .estate__dream-icons i {
        left: 43%;
    }

    .main-slider {
        width: 98%;
    }

    .slide-avatar {
        left: 31.2%;
        top: -17%;
    }

    .slide-text {
        padding: 85px 40px 40px;
        margin-left: 0;
    }

    .slide-name, .slide-social, .slide-social a, .slide-location {
        display: block;
        float: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .slide-name {
        margin-bottom: 8px;
    }

    .testimonial__text {
        float: none;
        text-align: center;
    }

    .slick-prev::before, .slick-next::before {
        display: none;
    }

    .privacy {
        display: none;
    }

    .rights {
        float: right;
    }

}