@media screen and (max-width: 1199px) {

    .nav__menu {
        display: none;
    }

    .main-slider {
        width: 95%;
    }

    .slide-avatar {
        left: -68px;
        top: 18%;
    }
}


@media screen and (max-width: 992px) {

    .header__title h1 {
        font-size: 4rem;
    }

    .offer__title {
        font-size: 2.75rem;
    }

    .advantages .section__title {
        margin-bottom: 35px;
    }

    .advantages-item {
        margin-top: 20px;
    }

    .query__arrow_bottom i {
        top: 90%;
    }

    .main-slider {
        width: 95%;
    }

    .slide-location {
        float: left;
        margin-top: 6px;
    }

    .privacy a {
        float: right;
    }

    .footer__contacts {
        display: none;
    }

}

@media screen and (max-width: 768px) {

    .header__contacts {
       display: none;
   }

    .header__title h1 {
        font-size: 2.938rem;
        letter-spacing: 0.1rem;
    }

    .offer__title {
        font-size: 2.063rem;
        letter-spacing: 0.1rem;
    }

    .section__title h2 {
        font-size: 1.8rem;
    }

    .query__arrow_bottom i {
        top: 93%;
    }

    .estate__dream-icons {
        left: 2%;
    }

    .estate__dream-icons img:nth-child(1) {
        left: 27.5%;
    }

    .estate__dream-icons img:nth-child(2) {
        left: 34.5%;
    }

    .estate__dream-icons img:nth-child(3) {
        left: 47.5%;
    }

    .estate__dream-icons i {
        left: 43%;
    }

    #testimonials {
        display: none;
    }

    .privacy {
        display: none;
    }

    .rights {
        float: right;
    }

    .consultation__form {
        width: 98%;
    }

}

@media screen and (max-width: 560px) {

    .estate__dream-icons img:nth-child(1) {
        left: 22.5%;
    }

    .estate__dream-icons img:nth-child(2) {
        left: 31.5%;
    }

    .estate__dream-icons img:nth-child(3) {
        left: 47.5%;
    }
}

@media screen and (max-width: 480px) {

    .estate__dream-icons img:nth-child(1) {
        left: 18.5%;
    }

    .estate__dream-icons img:nth-child(2) {
        left: 28.5%;
    }

    .estate__dream-icons img:nth-child(3) {
        left: 47.5%;
    }
}

@media screen and (min-width: 320px) {

    .query__arrow_bottom i {
        top: 95%;
    }

    .estate__dream-icons {
        left: -4%;
    }

    .estate__dream-icons img:nth-child(1) {
        left: 4.5%;
    }

    .estate__dream-icons img:nth-child(2) {
        left: 23.5%;
    }

    .estate__dream-icons img:nth-child(3) {
        left: 54.85%;
    }

    .consultation__form {
        width: 100%;
    }

    .consultation__btn {
        letter-spacing: 0.05rem;
    }

    .rights {
        display: none;
    }
}